apiVersion: v1
kind: Service
metadata:
    name: riskoptimizer-backend
    labels:
        app: riskoptimizer-backend
spec:
    type: ClusterIP
    ports:
        - port: 80
          targetPort: 3000
          protocol: TCP
          name: http
    selector:
        app: riskoptimizer-backend
