apiVersion: v1
kind: Service
metadata:
    name: riskoptimizer-database
    labels:
        app: riskoptimizer-database
spec:
    type: ClusterIP
    ports:
        - port: 3306
          targetPort: 3306
          protocol: TCP
          name: mysql
    selector:
        app: riskoptimizer-database
