apiVersion: v1
kind: Service
metadata:
    name: riskoptimizer-redis
    labels:
        app: riskoptimizer-redis
spec:
    type: ClusterIP
    ports:
        - port: 6379
          targetPort: 6379
          protocol: TCP
          name: redis
    selector:
        app: riskoptimizer-redis
